<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Django FotoBlog{% endblock %}</title>
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
            }

        </style>
    </head>
    <body>
        <h1>Django FotoBlog</h1>

        {% block content %}{% endblock %}


        {% comment %}
            Verifie si l'utilisateur est connecter.
            Si user.is_authenticated renvoie True, le message de deconnexion
            s'affichera sur la page
        {% endcomment %}
        {% if user.is_authenticated %}
            <p>Vous etes connecter en tant que {{ request.user }}.
                <a href="{% url 'logout' %}" >Se deconnecter</a>
            </p>
        {% endif %}


    </body>

</html>
